
@{
    ViewData["Title"] = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Host New Game</h5>
        </div>
      </div>
    </div>

  </div>
</div>
  

