@{
    ViewData["Title"] = "Home Page";
}

	<style type="text/css">
    .plus {
      position: relative;
      bottom: 50px;
      left: 60px;
    }
  </style>

  <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="card" style="width: 18rem;">
      <i class="fab fa-fort-awesome-alt fa-9x card-body bg-primary"></i>
      <i class="plus fas fa-plus fa-2x"></i>
      <div class="card-body">
        <h5 class="card-title">Create new deck to use deck in a game</h5>
        <a href="#" class="btn btn-primary">Create Deck</a>
      </div>
    </div>
  </div>
